<div class="container mt-5 mb-5">
  <div class="back-link ml-5 mt-4">
    <button class="btn back-link-btn"><i class="fa fa-arrow-left"></i> <%=link_to "Back", lectures_path, class: "text-white"%></button>
    <button class="btn back-link-btn"><i class="fa fa-arrow-left"></i><%= link_to 'Show', @lecture, class: "text-white" %></button>
    
  </div>
  <div class="row mt-4">
    <div class="col-md-6 offset-3">
      <div class="card">
        <div class="card-header">
          <h3>Editing Lecture</h3>
        </div>
        <div class="card-body">
          <%= render 'form', lecture: @lecture %>
        </div>
      </div>
    </div>
  </div>
</div>        
