<div class="container mt-5">
  <div class="back-link ml-5 mt-4">
    <button class="btn back-link-btn"><i class="fa fa-arrow-left"></i> <%=link_to "Back", lectures_path, class: "text-white"%></button>
  </div>
  <div class="list-group mt-5 mb-5 ml-5 mr-5">
    <a href="#" class="list-group-item"><%= @lecture.topic_name %></a>
  </div>
</div>  

