@media screen and (min-width:768px) {
  .nav-header {height:75px;}
  .nav-header a {font-size: 20px;}
  .counter-val{
    height: 171px;
    width: 61%;
  }
}

@media screen and (max-width:767px) {
  .counter-val{
    height: 140px;
    width: 61%;
  }
}
.counter-val{
  background-color: #fff;
  margin: auto;
  border-radius: 50%;
  border: 8px solid #277b5e;
  padding-left:0px;
  padding-top:30px;
}
.nav-header a {color:#fff !important;}
.counter-div {padding:30px;}
.counter-val h1 {color:#5c5d5f;}
.bg-site {background-color: #277b5e !important;}
.pro-subscribe {
  height: 140px;
  background-color: #2d2d2d;
  padding-top: 4%;
  color: #fff;
}
.card-header-auth-form {
  background-color: rgb(40, 123, 94);
  color:#fff;
  border-radius: 0px !important;
}
.card-auth {
  border: 1px solid rgb(41, 123, 94);
  border-radius: 0px;
}
.btn-auth {
  background-color: #277b5e;
  border-color: #277b5e;
  color:#fff;
  border-radius: 0px;
}
.card-auth .form-control {
  border-color: #277b5e;
  border-radius: 0px;
}
.btn-auth-del {
  background-color: #d80b39;
  border-color: #d80b39;
  color:#fff;
  border-radius: 0px;
}